# Imports + SodaPy

In [0]:
# import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

!pip install sodapy
from sodapy import Socrata

Requirement already satisfied: sodapy in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from sodapy) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.0->sodapy) (2019.11.28)

# Simple Query Example: Filter for all stations in the city of Chicago that offer Liquified Petroleum Gas

In [0]:
pd.read_json('https://data.cityofchicago.org/resource/f7f2-ggz5.json?fuel_type_code=LPG').head(5)

      id fuel_type_code  ...                open_date intersection_directions
0  50514            LPG  ...                      NaN                     NaN
1  50498            LPG  ...  2018-01-02T00:00:00.000                     NaN
2  21205            LPG  ...                      NaN                     NaN
3  70911            LPG  ...                      NaN                     NaN
4  43888            LPG  ...                      NaN                     NaN

[5 rows x 22 columns]

# SoQL Example #1: Top 10 registered dog breeds in NYC

In [0]:
# https://data.cityofnewyork.us/Health/NYC-Dog-Licensing-Dataset/nu7n-tubp

nyc_dogs_domain = 'data.cityofnewyork.us'
nyc_dogs_key = 'nu7n-tubp'

nyc_dogs_client = Socrata(nyc_dogs_domain, app_token=None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [0]:
nyc_metadata = nyc_dogs_client.get_metadata(nyc_dogs_key)
[x['name'] for x in nyc_metadata['columns']]

['RowNumber',
 'AnimalName',
 'AnimalGender',
 'AnimalBirthMonth',
 'BreedName',
 'Borough',
 'ZipCode',
 'LicenseIssuedDate',
 'LicenseExpiredDate',
 'Extract Year']

In [0]:
query = '''
select breedname, count(*)
group by breedname
order by count DESC
limit 10
'''

In [0]:
nyc_doggies = nyc_dogs_client.get(nyc_dogs_key, query=query)
nyc_doggies

[{'breedname': 'Unknown', 'count': '38785'},
 {'breedname': 'Yorkshire Terrier', 'count': '21922'},
 {'breedname': 'Shih Tzu', 'count': '19631'},
 {'breedname': 'Chihuahua', 'count': '15647'},
 {'breedname': 'Maltese', 'count': '11391'},
 {'breedname': 'Labrador Retriever', 'count': '11327'},
 {'breedname': 'American Pit Bull Mix / Pit Bull Mix', 'count': '10304'},
 {'breedname': 'Labrador Retriever Crossbreed', 'count': '8511'},
 {'breedname': 'American Pit Bull Terrier/Pit Bull', 'count': '8319'},
 {'breedname': 'Pomeranian', 'count': '6345'}]

In [0]:
nyc_dogs_df = pd.DataFrame(nyc_doggies)
nyc_dogs_df = nyc_dogs_df.head()
nyc_dogs_df

           breedname  count
0            Unknown  38785
1  Yorkshire Terrier  21922
2           Shih Tzu  19631
3          Chihuahua  15647
4            Maltese  11391

# SoQL Example #2: How many dogs named Sparky in NYC vs Seattle?

In [0]:
# https://data.seattle.gov/Community/Seattle-Pet-Licenses/jguv-t9rb

sea_dogs_domain = 'data.seattle.gov'
sea_dogs_key = 'jguv-t9rb'

sea_dogs_client = Socrata(sea_dogs_domain, app_token=None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [0]:
sea_metadata = sea_dogs_client.get_metadata(sea_dogs_key)
[x['name'] for x in sea_metadata['columns']]

['License Issue Date',
 'License Number',
 "Animal's Name",
 'Species',
 'Primary Breed',
 'Secondary Breed',
 'ZIP Code']

In [0]:
sea_query = '''
select animal_s_name, count(*) 
where lower(animal_s_name)="sparky"
group by animal_s_name
'''

In [0]:
sea_dogs_client.get(sea_dogs_key, query=sea_query)

[{'animal_s_name': 'Sparky', 'count': '47'}]

In [0]:
nyc_sparky = '''
select animalname, count(*)
where lower(animalname) = 'sparky'
group by animalname
'''

In [0]:
nyc_sparky = nyc_dogs_client.get(nyc_dogs_key, query=nyc_sparky)
nyc_sparky

[{'animalname': 'SPARKY', 'count': '554'}]